html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type='checkbox'],input[type='radio']{box-sizing:border-box;padding:0}input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{height:auto}input[type='search']{-webkit-appearance:none}input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body {
  background-color: #D0D7E2;
  font-family: "Quicksand", sans-serif;
  color: #174f9f;
  font-size: 14px;
  line-height: 137%;
}
   
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 80px;
  line-height: 100%;
  font-weight: 500;
}


::selection {
  color: #ffffff;
  background: #5180CC;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #BBBABA;
}

::-webkit-scrollbar-thumb {
  background: #5180CC;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15417e;
}

.partner {
  font-size: 30px;
}

.bold {
  font-weight: bold;
}


.header {
    display: flex;
    align-items: center;
}

.img-logo-header {
    width: 43px;
    margin-top: 5px;
}

.nome-logo {
    color: #174F9F;
    margin-left: 7px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 159.6%;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border: 1px solid rgb(141, 141, 141, 0.5);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-bottom: 5px;
}

.logo img {
  width: 45px;
  height: auto;
  margin-right: 7px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #174f9f;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: 550;
}

.nav-links li {
  display: inline;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  padding: 10px 15px;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.nav-links a.active,
.nav-links a:hover {
  background-color: #5180CC;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  width: 200px;
  margin-top: 35px;
  padding: 10px;
  border-radius: 25px;
}

.dropdown-content li {
  display: block;
}

.dropdown-content a {
  padding: 10px 15px;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #5180CC;
  color: #fff;
}

.dropdown-content.show {
  display: block;
}

.login {
  margin-right: 80px;
  font-weight: 500;
}

.login a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 20px;
  padding: 8px 15px;
}

.login a:hover {
  background-color: #5180CC;
  color: #fff;
}

.titulo-autoajudaArtigos {
  margin-top: 140px;
  font-size: 35px;
  margin-left: 430px;
}

.intro-Artigos {
  font-size: 20px;
  margin-left: 430px;
  margin-right: 430px;
  margin-bottom: 50px;
}

.cardsArtigos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.cardArtigos:hover {
  background-color: #ededed;
}

.cards-containerArtigos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1060px;
  width: 100%;
}

.cardArtigos {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.img-containerArtigos {
  background-color: rgb(184, 184, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
}

.img-containerArtigos img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.infoArtigos {
  padding: 0 15px 10px 15px;
  color: #174F9F;
  
}

.infoArtigos h3 {
  margin: 0;
  font-size: 22px;
}

.infoArtigos p {
  margin: 5px 0 0;
  font-size: 14px;
  font-weight: 550;
  color: #5180CC;
}

.footer {
    background: rgba(23, 79, 159, 0.7); /* Background com glassmorphism */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .footer__box {
    display: flex;
    flex-direction: column;
  }
  
  .footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer__title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .footer__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .footer__nav--block {
    flex: 1;
  }
  
  .footer__nav--list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__nav--list li {
    margin-bottom: 10px;
  }
  
  .footer__nav--list a {
    color: var(--dark); /* Ajuste para sua paleta de cores */
    text-decoration: none;
    font-size: 1rem;
  }
  
  .footer__nav--list a:hover {
    text-decoration: underline;
  }
  
  .footer__nav--info {
    display: flex;
    flex-direction: column;
  }
  
  .icon-social {
    margin-right: 5px;
  }
  
  .footer__nav--info-social a {
    text-decoration: none;
    color: var(--dark);
  }
  
  .footer__nav--info-item {
    margin-bottom: 15px;
  }
  
  .footer__nav--info-item h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: var(--dark); /* Ajuste para sua paleta de cores */
  }
  
  .footer__nav--info-item a {
    color: var(--dark); /* Ajuste para sua paleta de cores */
    text-decoration: none;
  }
  
  .footer__row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

/* Resposividade Cabeçalho */
@media screen and (max-width: 1024px) {
  .nav-links {
    padding: 0;
    gap: 5px;
  }

  .nav-links a {
    font-size: 13px;
    padding: 10px;
    font-weight: 620;
  }

  .logo {
    margin-left: 20px;
  }

  .logo span {
    font-size: 17px;
    font-weight: 900;
  }

  .login {
    margin-right: 15px;
  }

  .login a {
    font-size: 15px;
    font-weight: 580;
  }
}

/* Responsividade Rodapé*/
@media screen and (max-width: 1024px) {
    .footer {
      max-width: 800px;
    }
  
    .footer__header {
      margin-bottom: 10px;
    }
  
    .footer__title {
      font-size: 1.7rem;
    }
  
    .footer__nav--list a {
      font-size: 0.95rem;
    }
  
    .footer__row {
      font-size: 13px;
    }
  }