/* Estilos base */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #174f9f;
  font-size: 14px;
  line-height: 137%;
  background-color: #d0d7e2;
}

/* Seleção de texto */
::selection {
  color: #ffffff;
  background: #5180cc;
}

/* Barras de rolagem personalizadas */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #bbbaba;
}

::-webkit-scrollbar-thumb {
  background: #5180cc;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15417e;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border: 1px solid rgba(141, 141, 141, 0.5);
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  height: auto;
  margin-right: 7px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #174f9f;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: 550;
  margin-right: 30px;
}

.nav-links li {
  display: inline;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  padding: 10px 15px;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.nav-links a.active,
.nav-links a:hover {
  background-color: #5180cc;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  width: 200px;
  margin-top: 35px;
  padding: 10px;
  border-radius: 25px;
}

.dropdown-content li {
  display: block;
}

.dropdown-content a {
  padding: 10px 15px;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #5180cc;
  color: #fff;
}

.dropdown-content.show {
  display: block;
}

.login {
  font-weight: 500;
}

.login a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 20px;
  padding: 8px 15px;
}

.login a:hover {
  background-color: #5180cc;
  color: #fff;
}

/* Introdução */
.introducao {
  text-align: center;
  padding: 100px 20px;
}

.titulo-intro {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.paragrafo-intro {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(23, 79, 159, 0.7);
  margin-bottom: 30px;
}

.img-intro {
  width: 100%;
  max-width: 650px;
  display: block;
  margin: 0 auto;
}

.btn-chatEmergencial {
  margin-top: 30px;
}

.btn-chatEmergencial a {
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
  padding: 15px 30px;
  background-color: #5180cc;
  color: #fff;
}

.btn-icon-chat {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Agendamento de Consultas */
.agendamento-consultas {
  background-color: #5180cc;
  padding: 50px 20px;
}

.img-agendamento {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.agendamento-container {
  text-align: center;
  margin-top: 30px;
}

.titulo-agendamento {
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 36px;
}

.paragrafo-agendamento {
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 30px;
}

.btn-agendamento a {
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
  padding: 15px 30px;
  background-color: #fff;
  color: #5180cc;
  font-weight: 500;
}

/* Recursos de Autoajuda */
.recursos-autoajuda {
  padding: 50px 20px;
}

.titulo-autoajuda {
  font-size: 2rem;
  text-align: center;
  color: #174f9f;
  margin-bottom: 30px;
}

.autoajuda-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.autoajuda-item {
  flex: 1 1 300px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.autoajuda-subtitulo {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #174f9f;
}

.autoajuda-descricao {
  font-size: 1rem;
  color: #4b4b4b;
  font-weight: 500;
}

.autoajuda-link {
  text-decoration: none;
}

/* Sobre Nós */
.sobre-nos {
  padding: 50px 20px;
  text-align: center;
}

.titulo-sobre {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #174f9f;
}

.paragrafo-sobre {
  font-size: 18px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px;
}

.btn-sobre {
  margin-top: 30px;
}

.btn-sobre a {
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  padding: 15px 35px;
  color: #174f9f;
  font-weight: 600;
  border: 3px solid #174f9f;
}

.btn-sobre a:hover {
  background-color: #174f9f;
  color: white;
}

/* Rodapé */
.footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.footer__title {
  font-size: 1.5rem;
  color: #174f9f;
  margin-bottom: 10px;
}

.footer__nav--list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav--list li {
  display: inline-block;
  margin-right: 10px;
}

.footer__nav--list li a {
  text-decoration: none;
  color: #333;
}

.footer__nav--info {
  margin-bottom: 20px;
}

.footer__nav--info h3 {
  font-size: 1rem;
  color: #174f9f;
  margin-bottom: 5px;
}

.footer__nav--info a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer__nav--info a:hover {
  color: #5180cc;
}

.footer__nav--info-social {
  margin-top: 10px;
}

.icon-social {
  width: 20px;
  margin-right: 10px;
  fill: currentColor;
}

/* Responsividade */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .login {
    display: none;
  }

  .navbar {
    padding: 10px;
  }

  .logo {
    margin-right: auto;
  }

  .btn-chatEmergencial a {
    padding: 12px 25px;
  }

  .introducao {
    padding: 80px 20px;
  }

  .titulo-intro {
    font-size: 28px;
  }

  .paragrafo-intro {
    font-size: 16px;
  }

  .btn-agendamento a {
    padding: 12px 25px;
  }

  .agendamento-consultas {
    padding: 40px 20px;
  }

  .titulo-agendamento {
    font-size: 28px;
  }

  .paragrafo-agendamento {
    font-size: 16px;
  }

  .autoajuda-item {
    flex: 1 1 100%;
  }

  .titulo-autoajuda {
    font-size: 1.75rem;
  }

  .sobre-nos {
    padding: 40px 20px;
  }

  .titulo-sobre {
    font-size: 1.75rem;
  }

  .paragrafo-sobre {
    font-size: 16px;
  }

  .btn-sobre a {
    padding: 12px 30px;
  }
}
